exportPattern("^[^p\\_]")
import(gplots)
import(quantreg)
importFrom("Benchmarking", dea, dea.plot)
importFrom("sfa", sfa)
importFrom("utils", "packageDescription")
importFrom("graphics", "abline", "legend", "par", "plot", "strwidth", "title")
importFrom("grDevices", "dev.new", "dev.off", "pdf")
importFrom("stats", "coef", "complete.cases", "ecdf", "lm", "quantile")
importFrom("utils", "tail")
importFrom("utils", "head")