export(nca, nca_analysis, nca_output,
       ceilings, line.colors, line.types, line.width, point.type)
S3method(plot, nca_result)
S3method(print, nca_result)
S3method(summary, nca_result)
import(gplots)
import(ggplot2)
import(grid)
importFrom("progress", "progress_bar")
importFrom("lpSolve", "lp")
importFrom("KernSmooth", "dpik")
importFrom("sfa", "sfa")
importFrom("utils", "packageDescription")
importFrom("graphics", "abline", "legend", "par", "plot", "strwidth", "title", "clip", "lines")
importFrom("grDevices", "dev.new", "dev.off", "pdf")
importFrom("stats", "coef", "complete.cases", "ecdf", "lm", "quantile")
importFrom("utils", "tail", "head")
importFrom("quantreg", "rq")
importFrom("graphics", "points")
importFrom("stats", "rnorm", "runif", "var", "qnorm")
