export(nca, nca_analysis, nca_output, nca_outliers,
       nca_random, nca_power,
       ceilings, line.colors, line.types, line.width, point.type, point.color)
S3method(plot, nca_result)
S3method(print, nca_result)
S3method(summary, nca_result)
S3method(print, outliers)
import(gplots)
import(ggplot2)
import(grid)
importFrom("plotly", "plot_ly", "layout", "add_trace", "add_lines")
importFrom("parallel", "detectCores")
importFrom("doParallel", "registerDoParallel", "stopImplicitCluster")
importFrom("foreach", "foreach", "%dopar%", "registerDoSEQ")
importFrom("iterators", "iter")
importFrom("lpSolve", "lp")
importFrom("KernSmooth", "dpik")
importFrom("utils", "packageDescription", "combn")
importFrom("graphics", "abline", "legend", "par", "plot", "strwidth", "title", "clip", "lines")
importFrom("grDevices", "dev.new", "dev.off", "pdf")
importFrom("stats", "coef", "complete.cases", "ecdf", "lm", "quantile")
importFrom("utils", "tail", "head", "capture.output")
importFrom("quantreg", "rq")
importFrom("graphics", "points")
importFrom("stats", "rnorm", "runif", "var", "qnorm")
importFrom("grDevices", "col2rgb")
importFrom("truncnorm", "rtruncnorm")
